* {
  margin: 0;
  padding: 0;
}

#game {
  margin: 20px;
  width: 400px;
  height: 600px;
  border: 1px solid black;
  position: relative;
  background-color: green;
  top: 50%;
  left: 35%;
}

#game div {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  position: absolute;
  display: inline-block;
  background-color: aqua;
}

#btnReset {
  width: 100px;
  padding: 0.5rem 1rem;
  margin-left: 700px;
  border-radius: 5px;
}
